
body {
    background: #333;
    /*background: #191818;*/
    color: #ddd;
    border-radius: 5px;
}

div {
    display: block;
    clear: both;
    float: left;
}

/* 
==============================================
Home Page 
==============================================
*/
    .homeMenu-item {
        margin: 25px auto;
    }
    .homeTitle {
        color: rgba(0,0,0,0.1);
        font-size: 4.4em;
    }
/*
==============================================
Sections 
==============================================
*/
    .layer-175 {
        width: 175px;
        display: block;
        position:absolute;
        top:25%;
        left: 0;
        right:0;
        bottom: 0;
        margin:auto;
      }

/* 
==============================================
Buttons 
==============================================
*/

    /* Colored buttons with rounded corners */
    .pure-button-primary,
    .pure-button-success,
    .pure-button-error,
    .pure-button-warning,
    .pure-button-secondary {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }

    .pure-button-success {
        background: rgb(28, 184, 65); /* this is a green */
    }

    .pure-button-error {
        background: rgb(202, 60, 60); /* this is a maroon */
    }

    .pure-button-warning {
        background: rgb(223, 117, 20); /* this is an orange */
    }

    .pure-button-secondary {
        background: rgb(66, 184, 221); /* this is a light blue */
    }

    /* Sizes */
    .pure-button-xsmall {
        font-size: 70%;
    }

    .pure-button-small {
        font-size: 85%;
    }

    .pure-button-large {
        font-size: 110%;
    }

    .pure-button-xlarge {
        font-size: 125%;
    }

/* 
==============================================
Animations
============================================== 
*/

    /* expandUp */
    .expandUp{
        animation-name: expandUp;
        -webkit-animation-name: expandUp;   

        animation-duration: 0.7s;   
        -webkit-animation-duration: 0.7s;

        animation-timing-function: ease;    
        -webkit-animation-timing-function: ease;        

        visibility: visible !important; 
    }

    @keyframes expandUp {
        0% {
            transform: translateY(100%) scale(0.6) scaleY(0.5);
        }
        60%{
            transform: translateY(-7%) scaleY(1.12);
        }
        75%{
            transform: translateY(3%);
        }   
        100% {
            transform: translateY(0%) scale(1) scaleY(1);
        }   
    }

    @-webkit-keyframes expandUp {
        0% {
            -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
        }
        60%{
            -webkit-transform: translateY(-7%) scaleY(1.12);
        }
        75%{
            -webkit-transform: translateY(3%);
        }   
        100% {
            -webkit-transform: translateY(0%) scale(1) scaleY(1);
        }   
    }