/*******************************************************************************************
 * reset browser styles 
 *******************************************************************************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
} 
ol { 
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a{
    text-decoration: none;
    color: inherit;
}
/*******************************************************************************************
 * End of browser reset styles 
 *******************************************************************************************/

/*******************************************************************************************
 * App Setup
 *******************************************************************************************/

html, body {
    background: #333;
    color: #ddd;

}

/*******************************************************************************************
 * General
 *******************************************************************************************/
 
.container {
    max-width: 75%;
    margin: 20px auto;
}

.darkInset {
    text-align: center;
    font-size: 4em;
    font-family: 'Averia Libre', cursive;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    /*margin-bottom: 1em;*/
}

.dark {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

/*******************************************************************************************
 * Home Page
 *******************************************************************************************/

button{
    display: block;
    width: 100%;
    margin: 20px auto;
    /*position: relative;*/
}

button a{    
    text-decoration: none;
}

button input{   
    position: absolute;    
    padding: 0;    
    margin: 0;    
    left: 0;    
    top: 0;    
    width: 100%;    
    font-size: 20px;    
    cursor: pointer;    
    opacity: 0;    
    filter: alpha(opacity=0);
}