
body {
    background: #333;
    /*background: #191818;*/
    color: #ddd;
    border-radius: 5px;
}

div {
    display: block;
    clear: both;
    float: left;
}

/* 
==============================================
Home Page 
==============================================
*/
    .homeMenu-item {
        margin: 25px auto;
    }
    .homeTitle {
        color: rgba(0,0,0,0.1);
        font-size: 4.4em;
    }
/*
==============================================
Sections 
==============================================
*/
    .layer-175 {
        width: 175px;
        display: block;
        position:absolute;
        top:25%;
        left: 0;
        right:0;
        bottom: 0;
        margin:auto;
      }