<!DOCTYPE html>
<html>

<head>
<title>Pocket Book</title>
<meta content="saving receipts and stuff like that">

<!-- CSS -->
	<link rel="stylesheet" href="../../css/clank.min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/buttons-min.css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="../../css/dropzone.css">
	<link rel="stylesheet" href="../../css/main.css">

<!-- JS -->
	<script type="text/javascript" src="../../js/dropzone.js"></script>
	<script type="text/javascript" src="js/addNew.js"></script>
</head>

<body>

  <div class="cl-page">
    <div class="cl-bar-title">
      <h1 class="cl-title">Pocket Book<i class="fa fa-book"></i></h1>

    </div>
    <div class="cl-content">
    	<div action="#" class="dropzone dz-clickable">
		  <div class="dz-default dz-message">
		  	<i class="fa fa-camera opacity"></i>
		    <h4 class="opacity">Select Image</h4>
		  </div>
		</div> 

		<!-- <div class="bottom"> -->
		<!-- <h1>Select Tags </h1> -->
			<div class="cl-form">
				<select id="tags">
					<option value="Apples">Trip to Japan</option>
					<option value="Oranges">Hotel</option>
					<option value="Bananas">Travel</option>
				</select>
			</div>	
		<!-- </div> -->
    		

    </div>

    <div class="cl-bar-footer">
      <i class="fa fa-cog"></i>
    </div>

</div>

</body>
</html>